.large {
  font-size: 35px;
}

.small {
  font-size: 15px;
}

/* regular slide */
.remark-slide-content {
  background-color: #FAFAFA;
  border-bottom: 5px solid #041E42;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.2;
  padding: 1em 3em 1em 3em;
}

